<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.gentlemen.easybuy.dao.GoodsDao">

    <!-- 配置一个resultMap 指定返回的类型 -->
    <resultMap id="goods" type="com.gentlemen.easybuy.entity.Goods">
        <id column="id" property="id"/>
        <id column="cid" property="cid"/>
        <id column="name" property="name"/>
        <id column="price" property="price"/>
        <id column="offset" property="offset"/>
        <id column="storage" property="storage"/>
        <id column="time" property="time"/>
    </resultMap>

    <!-- 返回list -->
    <select id="getGoodsByCategory" resultMap="goods">
        SELECT * FROM goods WHERE cid = (SELECT id FROM category WHERE name LIKE CONCAT(CONCAT('%',#{categoryName},'%')))
    </select>

    <select id="findGoodsByName" resultMap="goods">
        SELECT * FROM goods WHERE name LIKE CONCAT(CONCAT('%',#{goodsName},'%'))
    </select>

    <select id="orderGoodsByPrice" resultMap="goods">
        SELECT * FROM goods ORDER BY price DESC
    </select>
    <select id="getGoodsSnap" resultMap="goods">
        SELECT *
        FROM goods
        ORDER BY time ASC
    </select>

    <select id="getAllGoods" resultType="java.util.List">
        SELECT * FROM goods
    </select>

    <insert id="addGoods">
        INSERT INTO goods (cid, name, price, unit, offset, storage, description, image, time)
         VALUE (#{cid}, #{name}, #{price}, #{unit}, #{offset}, #{storage}, #{description}, #{image}, #{time})
    </insert>

    <update id="updateGoods">
        UPDATE goods
        <set>
            <if test="cid != null">
                cid = #{cid},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="unit != null">
                unit = #{unit},
            </if>
            <if test="offset != null">
                offset = #{offset},
            </if>
            <if test="storage != null">
                storage = #{storage},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="time != null">
                time = #{time}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteGoods">
        DELETE FROM goods WHERE id = #{id}
    </delete>
</mapper>
